<div class="login-container">
    <img src="" alt="">
    <div class="logo">Movies Site
        <div class="desc">
            Content description comes here.
        </div>
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="uname">
        </div>
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="userpassword">Password</label>
            <input type="text" name="upass">
        </div>
    </div>
</div>